<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3><mark> My answers </mark></h3>
            <p>It is a webpage with 3 columns and a bit title area that says to resize to see a new view. </p>
            <p>When you make the webpage horizontally smaller, the columns start getting closer together.</p>
            <p>When you pass the point where all 3 can fit on the page, it automally changes the format to have all 3 columns shifted into 1 column with rows holding all the information.</p>
        </div>
        <div class="col-sm-4">
            <h3><mark>Css Classes</mark></h3>
            <p>As we resize the page, the css grid rearranges the 12 columns that the page is split into to automatically fit the screen size.</p>
            
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3> <small>This is some secondary Text</small>
            <h2>Bigger Column 3</h2>
            <h1>Biggest Column 3</h1>
            <p class="text-danger">This text means Danger.</p>
        </div>

    </div>
</div>